 table {
    border-collapse: collapse;
 }
 
 tr, td, th {
    border: 1px solid black;;
 }

 #opinione {
    width: 24%;
    height: 80px;
 }

 #elencoesperienze {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 3px;
 }

 #biker {
    width: 20%;
    border-radius: 10px;
    margin-left: 20px;
 }

 #lorem {
    
    font-weight: bold;
    color: blue;
 }

 #Curiosità {
   margin-top: 10px;
    padding-left: 10px ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 60%;
    background-image: linear-gradient(10deg, #db0101, transparent);
 }

 #curiosità-cont {
    width: 80%
 }