@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html {
   font-family: "Roboto", sans-serif;
}

body h2 {
   color: #d62c20;
}

body {
   background-color: #6d9d9d54;
}

/* Header start */

header {
   background-image: url(https://cdn.pixabay.com/animation/2024/07/12/02/29/02-29-04-435_512.gif);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   text-align: center;
   padding-bottom: 50px;
   padding-top: 50px;
   font-size: larger;
}

nav ul li a {
   color: antiquewhite;
}

header h1,
header p {
   font-size: 1.2em; 
   font-style: italic;
   color: rgb(102, 214, 10);
}

/* Header end */
/* Section Chi sono start */

#presentazione {
   font-style: italic;
}

#presentazione p span {
   font-weight: bold;
}

/* Section Chi Sono end */
/* Section Competenze start */

#Competenze ul li:nth-child(1) {
   font-weight: bold;
}

#Competenze ul li:nth-last-child {
   background-image: linear-gradient(10deg, #db0101, transparent);
}

/* Section Competenze end*/
/* Section Progetti start */

#biker {
   width: 20%;
   border-radius: 10px;
   margin-left: 20px;
}

/* Section Progetti end*/
/* Section Esperienze start */

#Esperienze table {
   border-collapse: collapse;
   background-color: whitesmoke;
}

tr,
td,
th {
   border: 1px solid black;
}


#elencoesperienze {
   font-size: larger;
   font-weight: bold;
   margin-bottom: 3px;
}

#Esperienze table tbody tr:nth-child(odd) {
   background-image: linear-gradient(10deg, #2318bd, transparent);
}

#lorem {

   font-weight: bold;
   color: blue;
}

/* Article Curiosità start */

#Curiosità h4 {
   padding-right: 10px;
}

#Curiosità {
   margin-top: 10px;
   padding-left: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   width: 60%;
   background-image: linear-gradient(10deg, #db0101, transparent);
}

#curiosità-cont {
   width: 80%;
}

/* Article Curiosità end */
/* Section Esperienze end */
/* Section Preferenze start */

#preferenzeutente {
   background-color: whitesmoke;
   width: fit-content;
   border: 2px solid black;
   padding: 15px;
}

#preferenzeutente h2 {
   font-weight: lighter;
   color: black;
   margin-top: 0;
}

/* Section Preferenze end */
/* Section iscrizioneMailboxECommenti start */

#iscrizione-commenti {
   width: fit-content;
   background-image: linear-gradient(10deg, #db0101, transparent);
   border: 2px solid black;
   padding: 15px;
   padding-bottom: 0;
}

.form {
   background-image: linear-gradient(10deg, #2318bd, transparent);
}

/* Section iscrizioneMailboxECommenti end */
/* Section Contatti start */

#opinioni {
   width: 40em;
   height: 80px;
}

#Contatti {
   background-color: #b9a83a6e;
}

/*Section Contatti end*/