@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
}

main {
   max-width: 920px;
   margin: 0 auto;
   padding: 40px 20px;
}

main section {
   padding: 32px;
   margin-bottom: 24px;
   border: 1px solid #e4aaaa;
   border-radius: 8px;
   box-shadow: 0 2px 6px rgba(2, 2, 4, 0.71);
}

main section h2::before {
   margin-right: 10px;
   content: "---";
   color: #66D60B;
}

section {
   background-color: #9e9acc;
}

body h2 {
   margin: 20px;
   color: #d62c20;
}

body {
   background-color: #6d9d9d54;
}

button {
   background-color: rgb(219, 219, 60);
   color: black;
   padding: 10px 25px;
   border-radius: 4px;
   font-size: 1rem;
}

button:hover {
   background-color: #5e0c1b;
   color: white;
}

/* Header start */

#site-header {
   margin-bottom: 10px;
   background-image: url(https://cdn.pixabay.com/animation/2024/07/12/02/29/02-29-04-435_512.gif);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
   text-align: center;
   padding-bottom: 50px;
   padding-top: 50px;
   font-size: larger;
}

#site-header ul  {
   padding-left: 0;
}

#site-header h1,
#site-header p {
   font-size: 1.2em; 
   font-style: italic;
   color: rgb(102, 214, 10);
   text-shadow:(2 2 4);
}

nav ul li {
   display: inline-block;
   margin: 15px;
}

nav ul li:hover {

}

nav ul li a {
   color: antiquewhite;
}

/* Header end */
/* Section Chi sono start */

#Chisono img {
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

#presentazione {
   font-style: italic;
}

#presentazione p span {
   font-weight: bold;
}

/* Section Chi Sono end */
/* Section Competenze start */

#Competenze ul li:nth-child(1) {
   font-weight: bold;
}

#Competenze ul li:last-child {
   background-image: linear-gradient(10deg, #db0101, transparent);
   max-width: max-content ;
}

/* Section Competenze end*/
/* Section Progetti start */

#biker {
   width: 20%;
   border-radius: 10px;
   margin-left: 20px;
}

/* Section Progetti end*/
/* Section Esperienze start */

#Esperienze table {
   border-collapse: collapse;
   background-color: whitesmoke;
}

tr,
td,
th {
   border: 1px solid black;
}

#elencoesperienze {
   font-size: 1.3rem;
   font-weight: bold;
   margin-bottom: 3px;
}

#Esperienze table {
   margin-bottom: 10px;
}

#Esperienze table tbody tr:nth-child(odd) {
   background-image: linear-gradient(10deg, #2318bd, transparent);
}

#lorem section {
   background-color: whitesmoke;
   border: none;
   font-weight: bold;
   color: rgba(72, 72, 192, 0.842);
}

/* Article Curiosità start */

#curiosità-cont 

#Curiosità h4 {
   padding-right: 10px;
}

#Curiosità {
   padding-left: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   width: 60%;
   background-image: linear-gradient(10deg, #db0101, transparent);
}

#curiosità-cont {
   width: 80%;
}

/* Article Curiosità end */
/* Section Esperienze end */
/* Section Preferenze start */

#preferenzeutente {
   background-color: whitesmoke;
   width: fit-content;
   border: 2px solid black;
   padding: 15px;
}

#preferenzeutente h2 {
   font-weight: lighter;
   color: black;
   margin-top: 0;
}

/* Section Preferenze end */
/* Section iscrizioneMailboxECommenti start */

#iscrizione-commenti {
   width: fit-content;
   background-image: linear-gradient(10deg, #db0101, transparent);
   border: 2px solid black;
   padding: 15px;
   padding-bottom: 0;
}

.form {
   border: 2px solid black;
   background-image: linear-gradient(10deg, #2318bd, transparent);
}

.form input:hover {
   background-color: #313046a8;
}

/* Section iscrizioneMailboxECommenti end */
/* Section Contatti start */

#opinioni {
   width: 40em;
   height: 80px;
}

#Contatti {
   background-color: #b9a83a6e;
}

/*Section Contatti end*/